:root {
  --color-main: #5371FF;
  --color-main2: #918cf2;
  --color-sub:  #2F4858;
  --color-accent:#3EC9A8;
  --color-white: #EDE3E9;
  --color-black: #333333;
  
  --color-status-warning: #ffbc44;
  --color-status-success: #17eba0;
  --color-status-error: #fc6161;
}
